@charset "UTF-8";

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc( 100vh - 59px);
    padding: 10px;
}
.login_form{
    margin-top: 20px;
    border-left:   01px solid ;
    border-right:  01px solid ;
    border-bottom: 10px solid ;
    border-top:    10px solid ;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-top-right-radius: 50%;
    border-top-left-radius:  020%;
    border-bottom-right-radius: 020%;
    border-bottom-left-radius: 50%;
    border-color:     
    #335536;
    background-color: 
    #163318;
    
}

.login_form >form{
    border-bottom-right-radius: 01.375rem;
    border-bottom-left-radius:  40%;
    border-top-left-radius:  40%;
    padding: 20px 60px 40px 55px;
    color: #fff;

}

.login_form > h3{
    color: #fff;
    margin: 0;
    text-align: center;
    width: 77%;
    padding-top: 20px;
}

.login_form > form > #entrarbtn{
    width: 70%;
    margin-left: 30%;
    
    background-color: #1C664B;
    border: none;
}

