{% extends  "base.html" %}


    {% block content %}
    <header>
        <h1>Bem vindo ao <i> Guérit</i> </h1>

    </header>
    <main>
        <section>
            <p>Esta página está dedicada aos seguintes servirços</p>
            <article>
                <a href="#">Chat      </a>
                -
                <a href="#">File Drive</a>
                
            </article>
        </section>
    </main>
    <footer>
        &copy; 2024 - Guérit. Todos os direitos reservados
    </footer>
    {% endblock %}