{% extends  "base.html" %}
{% block css %}
<link rel="stylesheet" href= "{{url_for('static',filename='style/login.css')}}">
{% endblock %}


    {% block content %}
    <main style="display: flex;">
        <section class ="login_form" >
            <h3>LogIn</h3>
            <form onchange="validateInputs()" id="login_Form" method="post">
                {{ form.csrf_token }}
                <label class="form-label"      for="usrname">Username:</label>
                {{ form.usrname(class="form-control") }}
                
                <label class="form-label"      for="senha">Senha:</label>
                {{ form.password(class="form-control") }}
                <br>
                <input class="btn btn-primary" type="submit" value="Entrar" id="entrarbtn">
            </form>
        </section>
    </main>

    <script>
        function validateInputs() {
            var form = document.getElementById('login_Form');
            var inputs = form.getElementsByTagName('input');
            for (var i = 0; i < inputs.length; i++) {
                var inputValue = inputs[i].value;

                // Remover espaços no início e no final
                var trimmedValue = inputValue.trim();

                // Atualizar o valor nos inputs
                inputs[i].value = trimmedValue;
            }
        }
    </script>
    {% endblock %}