{% extends  "base.html" %}
{% block css %}
<link rel="stylesheet" href= "{{url_for('static',filename='style/login.css')}}">
{% endblock %}


    {% block content %}
    <main style="display: flex;">
        <section class ="login_form" >
            <h3>LogIn</h3>
            <form  method="post">
                {{ form.csrf_token }}
                <label class="form-label"      for="username">Username:</label>
                {{ form.username(class="form-control") }}
                
                <label class="form-label"      for="senha">Senha:</label>
                {{ form.password(class="form-control") }}
                <br>
                <input class="btn btn-primary" type="submit" value="Entrar" id="entrarbtn">
            </form>
        </section>
    </main>
    {% endblock %}