{% extends  "base.html" %}
{% block css %}
<link rel="stylesheet" href= "{{url_for('static',filename='style/singup.css')}}">
{% endblock %}


    {% block content %}
    <main style="display: flex;">
       
        <section class ="login_form" >
            <h3>SingUp</h3>
            <form  method="post">
                {{ form.csrf_token }}
                <label class="form-label"      for="name">Nome:</label>
                {{ form.name(class="form-control", placeholder="Seu nome") }}

                <label class="form-label"      for="username">Username:</label>
                {{ form.username(class="form-control", placeholder="Cada username deve ser uníco") }}
                
                <label class="form-label"      for="email">Email:</label>
                {{ form.email(class="form-control", placeholder="seu@email.com") }}               
                
                <label class="form-label"      for="senha">Senha:</label>
                {{ form.password(class="form-control", id="password", onkeyup="validatePassword()") }}

                <label class="form-label"      for="cfm_password">Confirmar Senha:</label>
                {{ form.cfm_password(class="form-control", id="cfm_password", onkeyup="validatePassword()") }}
                
                <br>
                <div style="display: none;" id="alert_senhas" class="alert alert-danger" role="alert">
                    As senhas devem ser iguais!
                </div>
                <input class="btn btn-primary" type="submit" value="Cadastra-se" id="entrarbtn" >
            </form>
        </section>
    </main>
    <script>
        function validatePassword() {
            var password = document.getElementById('password').value;
            var cfmPassword = document.getElementById('cfm_password').value;
            var alertSenhas = document.getElementById('alert_senhas');

            if (password === cfmPassword) {
                return alertSenhas.style.display = 'none'; 
                }        
            return  alertSenhas.style.display = 'block';
        }
        {{erro}}
        if (window.Flask.erro) {
            alert(window.Flask.erro)
        }
    </script>
    {% endblock %}